<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Comparaison de base de données</title>
        <link rel="stylesheet" media="screen" type="text/css" title="Design" href="style.css" />
    </head>
    <body>
    <form action="index.php" method="post" id="bdd-config">
        <table>
            <tr>
                <td><label for="bdd-host1">Serveur</label></td>
                <td><label for="bdd-user1">Utilisateur</label></td>
                <td><label for="bdd-password1">Mot de passe</label></td>
                <td><label for="bdd-nom1">Base de référence</label></td>
            </tr>
            <tr>
                <td><input type="text" name="bdd-host1" value="localhost" /></td>
                <td><input type="text" name="bdd-user1" value="root" /></td>
                <td><input type="text" name="bdd-password1" value="root" /></td>
                <td><input type="text" name="bdd-nom1" value="testsync" /></td>
            </tr>
            <tr>
                <td><label for="bdd-host2">Serveur</label></td>
                <td><label for="bdd-user2">Utilisateur</label></td>
                <td><label for="bdd-password1">Mot de passe</label></td>
                <td><label for="bdd-nom2">Base mise à jour</label></td>
            </tr>
            <tr>
                <td><input type="text" name="bdd-host2" value="localhost" /></td>
                <td><input type="text" name="bdd-user2" value="root" /></td>
                <td><input type="text" name="bdd-password2" value="root" /></td>
                <td><input type="text" name="bdd-nom2" value="testsync2" /></td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                <input type="submit" value="Comparer" />
                <input type="reset" value="Effacer"</td>
            </tr>
        </table>
    </form>
    <p>
    {if isset($bddDiff)}
        <!-- HTML & SQL -->
        <table class="tableauBddDiff">
            {foreach from=$bddDiff->diffs item=diffTable}
                {if $diffTable->action != diffBdd::ACTION_SAME}
                    <tr class="recapitulatif">
                    <td><strong>{$messHTMLTable[$diffTable->action]}</strong>
                    la table <span class="nomTable">{$diffTable->nom}</span><br />
                    {foreach from=$diffTable->champs item=diffChamp}
                        {if $diffChamp->action != diffBdd::ACTION_SAME}
                            <strong>{$messHTMLChamp[$diffChamp->action]}</strong>
                            le champ <span class="nomChamp">{$diffChamp->champ->nom} :</span><br />
                        {/if}
                    {/foreach}
                    </td>
                    <td>
                    <code>{$messSQLTable[$diffTable->action]}{$diffTable->nom}<br />
                    {foreach from=$diffTable->champs item=diffChamp}
                        {if $diffChamp->action != DiffBdd::ACTION_SAME}
                            {$messSQLChamp[$diffChamp->action]}{$diffChamp->champ->nom} {$diffChamp->champ->coltype}
                            {$diffChamp->champ->internom} {$diffChamp->champ->interclass} {$diffChamp->champ->nullable}
                            {$diffChamp->champ->coldefaut} {$diffChamp->champ->extra} {$diffChamp->champ->commentaire}<br />
                        {/if}
                    {/foreach}
                    </code>
                    </td>
                    </tr>
                {/if}
            {/foreach}
        </table>
    {/if}
    </p>
    </body>
</html>
